$alter3-features--ring-1-width: 5px;
$alter3-features--ring-1-color: $beluga-light-5x;

$alter3-features--ring-2-width: 1px;
$alter3-features--ring-2-color: $beluga-light-4x;

$alter3-features--circle-color: $ibiza-blue-light-2x;
