$card-margin-bottom: $grid-gutter-width;
$card-box-shadow-base-color: $ibiza-blue-light-3x;
$card-border: 0;

$card-header-padding-x: 1.5rem;
$card-header-padding-y: 1.25rem;
$card-header-bg-color: $card-bg; // bs
$card-header-border-color: rgba(0, 0, 0, 0.05);

$card-body-padding: $card-header-padding-x;
