$tabs--tab-content-padding-x: 1.5rem;
$tabs--tab-content-padding-y: 1rem;

$tabs-nav-link--active-border-color: $living-coral;
$tabs-nav-link--font-size: $btn-font-size;
$tabs-nav-link--font-weight: $btn-font-weight;
$tabs-nav-link--letter-spacing: 1.2px;
$tabs-nav-link--disabled-color: $text-muted;
$tabs-nav-link--active-color: $tabs-nav-link--active-border-color;
$tabs-nav-link--bg-color-hover: transparent;
