$fcm--circle1-bg-color: $ibiza-blue;
$fcm--circle2-bg-color: rgba($ibiza-blue, .8);
$fcm--circle3-bg-color: $ibiza-blue;
$fcm--circle4-bg-color: $living-coral;

$fcm--triangle-bg-color: $radiant-yellow;
$fcm--triangle2-bg-color: $living-coral;
