$start-free-icons-color: $beluga-light-5x;
$start-free-icons-map: (
  ( top: 90, left: 46 ),
  ( top: 14, left: 18 ),
  ( top: 80, left: 4 ),
  ( top: 50, left: 18 ),
  ( top: 25, left: 34 ),
  ( top: 15, left: 72 ),
  ( top: 80, left: 70 ),
  ( top: 55, left: 95 ),
  ( top: 50, left: 80 ),
  ( top: 34, left: 60 ),

  ( top: 60, left: 60 ),
  ( top: 35, left: 75 ),
  ( top: 90, left: 40 ),
  ( top: 54, left: 75 ),
  ( top: 50, left: 90 ),
  ( top: 50, left: 81 )
);
$start-free-icons-count: length($start-free-icons-map);
