$use-cases--circle1-bg-color: rgba($beluga-light-5x, .5);
$use-cases--circle2-bg-color: rgba($beluga-light-5x, .6);

$use-cases--ring-bg-color: $ibiza-blue-light-4x;
$use-cases--triangle-bg-color: $living-coral;
$use-cases--triangle-bg-color2: $living-coral-light-3x;

$use-cases--dots-color: rgba($beluga-dark-4x, .3);