$container-fluid-padding-x: $grid-gutter-width;

$page-header-padding-y: $grid-gutter-width;
$page-header-title-font-size: 2rem;
$page-header-title-font-weight: $font-weight-normal;
$page-header-description-color: $beluga-light-4x;
